{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<h1>RESET PASSWORD</h1>

<form method="post">
    <input type="password" id="password" name="password">
    <input type="submit" id="submit" disabled>
</form>

<div id="message">
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

<script>
    let myInput = document.getElementById("password")
    let length = document.getElementById("length");
    let submitBtn = document.getElementById("submit")

    myInput.onkeyup = function () {

        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
            submitBtn.disabled = false

        } else {
            submitBtn.disabled = true
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>

{% endblock %}